@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PRUEBA DE NEXTU</h1>
    <p class="lead">Aqui se mostrara la informacion mas importante de la empresa</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Aprender mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Next U</h2>
        <p>
            Esta es solo una pagina de prueba para el desarrollo del punto 4 del paso 3 de la primera seccion
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ver mas detalles</h2>
        <p>Este es un espacio de la empresa, y muestra mas informacion</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Aprender mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contacto</h2>
        <p>Usted puede contactarnos facilmente a traves de este link</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Aprender mas &raquo;</a></p>
    </div>
</div>